Repository antonaleks/ya-praktikum-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

stages:
  - module-pipelines

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend #depend нужен, если какой-нибудь дочерний пайплайн свалился, мы знали, что общий пайплайн тоже идёт с ошибкой
  only:
    changes: #как только происходит изменение в папке frontend, запускается дочерний пайплайн, который лежит в этой папке
      - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend
  only:
    changes: #как только происходит изменение в папке backend, запускается дочерний пайплайн, который лежит в этой папке
      - backend/**/*

Masked variables
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/settings.xml
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
  template.gitlab-ci.yml
Due: frontend, backend

cache policy pull
  backend/.gitlab-ci.yml
Due: backend

add env, slack data to var
  backend/.gitlab-ci.yml
Due: backend

rules for deploy
  backend/.gitlab-ci.yml
Due: backend

fix url
  backend/.gitlab-ci.yml
Due: backend

remove rules
  backend/.gitlab-ci.yml
Due: backend

fix rules
  backend/.gitlab-ci.yml
Due: backend

front with env
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

fix staging names
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

fix when rules and EOF spaces
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  frontend/sausage-store-frontend.service
Due: frontend, backend

front env
  frontend/deploy.sh
  frontend/sausage-store-frontend.service
Due: frontend

change sausage name for test rollback
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/test/java/com/yandex/practicum/devops/SausageApplicationIntegrationTest.java
Due: backend

backend service env
  backend/sausage-store-backend.service
Due: backend

Changed DB to PostgreSQL
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/model/OrderProduct.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: backend

db settings
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/sausage-store-backend.service
Due: backend

db settings
  backend/sausage-store-backend.service
Due: backend

db user env
  backend/.gitlab-ci.yml
  backend/deploy.sh
Due: backend

db port fix name
  backend/.gitlab-ci.yml
Due: backend

flyway migration init
  backend/pom.xml
  backend/sausage-store-backend.service
  backend/src/main/resources/db/migration/R_change_permissons
  backend/src/main/resources/db/migration/V01_create_tables
  backend/src/main/resources/db/migration/V02_resize_column_size
  backend/src/main/resources/flyway.conf
  backend/src/test/resources/application.properties
Due: backend

flyway migration init
  backend/src/main/resources/db/migration/flyway.conf
Due: backend

flyway migration init
  backend/flyway.conf
  backend/src/main/resources/db/migration/R_change_permissons.sql
  backend/src/main/resources/db/migration/V01_create_tables.sql
  backend/src/main/resources/db/migration/V02_resize_column_size.sql
Due: backend

flyway migration init fix names
  backend/src/main/resources/db/migration/R__change_permissons.sql
  backend/src/main/resources/db/migration/V01__create_tables.sql
  backend/src/main/resources/db/migration/V02__resize_column_size.sql
Due: backend

flyway migration fix grant access
  backend/src/main/resources/db/migration/R__change_permissons.sql
  backend/src/main/resources/db/migration/R__grant_access.sql
Due: backend

flyway migration fix grant access
  backend/src/main/resources/db/migration/R__grant_access.sql
Due: backend

flyway migration fix versions
  backend/src/main/resources/db/migration/V03__create_tables.sql
  backend/src/main/resources/db/migration/V04__resize_column_size.sql
Due: backend

Added MongoDB integration
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: backend

conf postgre and mongo in deploy stage
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/sausage-store-backend.service
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
Due: backend

flyway disable
  backend/src/main/resources/application.properties
Due: backend

add dockerfiles
  backend/Dockerfile
  frontend/Dockerfile
Due: frontend, backend

docker cicd init
  backend/.dockerignore
  backend/.gitlab-ci.yml
  backend/Dockerfile
  backend/backend_docker_deploy.sh
  frontend/.dockerignore
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/frontend_docker_deploy.sh
Due: frontend, backend

dockÑer cicd deploy rules fix
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

docker fix ssh connection
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  template.gitlab-ci.yml
Due: frontend, backend

docker fix ssh connection
  template.gitlab-ci.yml
Due: none

docker fix deploy stage
  backend/.gitlab-ci.yml
  backend/backend_docker_deploy.sh
  frontend/.gitlab-ci.yml
  frontend/frontend_docker_deploy.sh
Due: frontend, backend
