Repository antonaleks/ya-praktikum-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

stages:
  - module-pipelines

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend #depend нужен, если какой-нибудь дочерний пайплайн свалился, мы знали, что общий пайплайн тоже идёт с ошибкой
  only:
    changes: #как только происходит изменение в папке frontend, запускается дочерний пайплайн, который лежит в этой папке
      - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend
  only:
    changes: #как только происходит изменение в папке backend, запускается дочерний пайплайн, который лежит в этой папке
      - backend/**/*

docker fix upload front stage
  frontend/.gitlab-ci.yml
Due: frontend

docker fix deploy back stage
  backend/.gitlab-ci.yml
Due: backend

docker test integrated
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  frontend/frontend_docker_deploy.sh
Due: frontend, backend

docker fix front deploy
  frontend/frontend_docker_deploy.sh
Due: frontend

docker fix front build
  frontend/.gitlab-ci.yml
Due: frontend

kaniko build
  backend/.gitlab-ci.yml
Due: backend

kaniko build cache example
  backend/.gitlab-ci.yml
Due: backend

kaniko build cache compare
  backend/.gitlab-ci.yml
Due: backend

kaniko build cache compare
  backend/.dockerignore
Due: backend

backend test postman
  backend/.gitlab-ci.yml
  backend/Dockerfile
  backend/src/test/postman/sausage-store.postman_collection.json
  backend/src/test/postman/sausage-store.postman_environment.json
Due: backend

backend test postman
  backend/.gitlab-ci.yml
  backend/Dockerfile
Due: backend

backend test postman
  backend/Dockerfile
Due: backend

backend test postman
  backend/.gitlab-ci.yml
Due: backend

kaniko test with newman
  backend/.gitlab-ci.yml
  backend/Dockerfile
Due: backend

kaniko test with newman
  backend/.gitlab-ci.yml
Due: backend

kaniko test with newman
  .pre-commit-config.yaml
  backend/.gitlab-ci.yml
Due: backend

kaniko test with newman
  backend/.gitlab-ci.yml
  template.gitlab-ci.yml
Due: backend

kaniko build dependency
  backend/Dockerfile
Due: backend

kaniko front
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

kaniko test curl
  backend/.gitlab-ci.yml
Due: backend

kaniko test newman
  backend/.gitlab-ci.yml
Due: backend

kaniko done
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend
