Repository antonaleks/ya-praktikum-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

stages:
  - module-pipelines

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend #depend нужен, если какой-нибудь дочерний пайплайн свалился, мы знали, что общий пайплайн тоже идёт с ошибкой
  only:
    changes: #как только происходит изменение в папке frontend, запускается дочерний пайплайн, который лежит в этой папке
      - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend
  only:
    changes: #как только происходит изменение в папке backend, запускается дочерний пайплайн, который лежит в этой папке
      - backend/**/*

nginx tmpl path
  frontend/.gitlab-ci.yml
Due: frontend

nginx tmpl path
  docker-compose.yml
  frontend/.gitlab-ci.yml
  template.gitlab-ci.yml
Due: frontend

nginx tmpl path
  docker-compose.yml
Due: none

debploy blue green
  backend-report/pom.xml
  backend/.gitlab-ci.yml
  backend/deploy_blue_green.sh
  backend/pom.xml
  docker-compose.yml
Due: backend

deploy blue green fix
  backend-report/pom.xml
  docker-compose.yml
Due: none

Balancing
  .gitlab-ci.yml
  app/nginx.tmpl
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  docker-compose.yml
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  template.gitlab-ci.yml
Due: frontend, backend

cicd to argocd
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

fix argo command
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Update README.md
  README.md
Due: none
