Repository antonaleks/ya-praktikum-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

stages:
  - module-pipelines

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend #depend нужен, если какой-нибудь дочерний пайплайн свалился, мы знали, что общий пайплайн тоже идёт с ошибкой
  only:
    changes: #как только происходит изменение в папке frontend, запускается дочерний пайплайн, который лежит в этой папке
      - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend
  only:
    changes: #как только происходит изменение в папке backend, запускается дочерний пайплайн, который лежит в этой папке
      - backend/**/*

kaniko dockerfile back
  backend/Dockerfile
Due: backend

s3 change image sources
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: backend

ci fix
  backend/.gitlab-ci.yml
Due: backend

ci fix
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

vault init
  backend/.gitlab-ci.yml
  backend/backend_docker_deploy.sh
  backend/pom.xml
  backend/sausage-store-backend.service
  backend/src/main/resources/application.properties
Due: backend

vault mongo db path
  backend/src/main/resources/application.properties
Due: backend

vault test disable
  backend/src/test/resources/application.properties
Due: backend

vault test disable
  backend/.gitlab-ci.yml
Due: backend

vault docker test disable
  backend/.gitlab-ci.yml
Due: backend

vault env fix
  backend/src/main/resources/application.properties
Due: backend

vault env fix
  backend/.gitlab-ci.yml
  backend/backend_docker_deploy.sh
  backend/src/main/resources/application.properties
Due: backend

vault env fix
  backend/.gitlab-ci.yml
  backend/backend_docker_deploy.sh
Due: backend

vault spring version, build deploy
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/pom.xml
Due: backend

vault build deploy
  backend/.gitlab-ci.yml
Due: backend

fix vault token env
  backend/.gitlab-ci.yml
  backend/backend_docker_deploy.sh
  backend/deploy.sh
Due: backend

test enabled
  backend/.gitlab-ci.yml
Due: backend

Extracted reports to the new microservice
  backend-report/.dockerignore
  backend-report/Dockerfile
  backend-report/pom.xml
  backend-report/src/main/java/com/yandex/practicum/devops/MongoSkipSSLConfig.java
  backend-report/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend-report/src/main/java/com/yandex/practicum/devops/TrustAllCerts.java
  backend-report/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend-report/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend-report/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend-report/src/main/resources/application.properties
  backend-report/src/main/resources/logback.xml
  backend-report/src/test/java/com/yandex/practicum/devops/SausageApplicationIntegrationTest.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: backend

Microservices
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
  backend-report/pom.xml
  backend-report/src/main/resources/application.properties
  backend/.gitlab-ci.yml
  docker-compose.yml
  frontend/.gitlab-ci.yml
  template.gitlab-ci.yml
  vault-init.sh
Due: frontend, backend

scale nginx front
  app/nginx.tmpl
  backend/.gitlab-ci.yml
  docker-compose.yml
  frontend/Dockerfile
Due: frontend, backend

scale nginx front
  backend/.gitlab-ci.yml
Due: backend

nginx front compose deploy
  frontend/.gitlab-ci.yml
Due: frontend

scale cound in compose up command
  backend/.gitlab-ci.yml
Due: backend

change port web server
  docker-compose.yml
Due: none

force recreate
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

scale backend fix
  backend/.gitlab-ci.yml
Due: backend

include changes in docker compose to all ci services
  .gitlab-ci.yml
Due: none

backend scale compose fix
  backend/.gitlab-ci.yml
Due: backend

delete force recreate
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

fix report and gocker gen volume
  template.gitlab-ci.yml
Due: none

add force-recreate
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

no build report
  docker-compose.yml
  template.gitlab-ci.yml
Due: none

apth to nginx template
  docker-compose.yml
Due: none

docker pull
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  template.gitlab-ci.yml
Due: frontend, backend

docker pull
  backend/.gitlab-ci.yml
Due: backend

scp nginx template to host
  docker-compose.yml
  frontend/.gitlab-ci.yml
Due: frontend

docker host remove env
  template.gitlab-ci.yml
Due: none
